.idea-container
{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: block;
}

.idea-validation-section{
    color: #fff;
    padding: 3rem 7rem;
    text-align: justify;
}

.idea-benefits, .idea-introduction{
    margin: 3rem 0;
}

.left-idea-container, .right-idea-container{
    margin: 3rem 2rem;
}

.left-idea-container{
    flex: 1;
    margin: 0 auto
}

.right-idea-container{
    flex: 1;
    text-align: center;
}

.right-idea-container > h2 {
    color: #fff;   
}

.left-idea-container > form
{
    background-color: rgb(202, 182, 207);
    padding : 2rem 3rem;
    border-radius: 10px;
    color: #000;
}

.form-label {
    display : block;
    font-size: 0.9rem;
    font-weight: 600;
}

.form-input{
    display : block;
    border-radius: 5px;
    margin: 0 0 1rem;
    width: 100% ;
    padding: 0.5rem 1rem;
    resize: none;
    border: none;
}

.form-button
{
    border-radius: 5px;
    background-color: rgb(100, 7, 97);
    color : #fff ;
    padding: 0.5rem 2rem;
    border : 1px solid rgb(100, 7, 97); 
}

.form-button:hover{
    color : rgb(100, 7, 97);
    background-color: rgb(202, 182, 207);
}

.right-idea-container > button
{
   padding: 0.5rem 2rem; 
   color : rgb(100, 7, 97);
   background-color: rgb(202, 182, 207);
   border-radius: 5px;
   border : 1px solid rgb(202, 182, 207);
   margin : 1rem 0;
}

.right-idea-container > button:hover
{
    color :rgb(202, 182, 207);
    background-color: rgb(100, 7, 97);
}

.nav-items{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.error-container{
    color: #fff;
    margin: 5rem auto;
    font-weight: 600;
    text-align: center;
    font-size: 3rem;
}

.red{
    color: red;
}